.v-list-item:hover {
    background: rgba(220, 243, 190, 0.2);
}

.router-link-exact-active, .router-link-exact-active>* {
    color: #62ab00;
}

.v-list-item--active {
    color: #62ab00
}

.listCate {
    border-bottom: 5px solid #62ab00;
}

.cursor-point {
    cursor: pointer;
}

.custom-loader {
    animation: loader 1s infinite;
    display: flex;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-avt {
    object-fit: cover;
    max-width: 100%;
    object-position: center;
    height: auto;
}

@-moz-keyframes loader {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loader {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@-o-keyframes loader {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes loader {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}